@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input type="text" asp-for="action" />
</form>


Model.action here:
<br />
@Model.action

<br /><br />
Bash Command response here:
<br />
@Model.piholeResponse